<html>
    <head>
        <title>Sreekar's Python Server</title>
    </head>
    <body>
        <h1>Welcome to Sreekar's Python Server</h1>
        <p>This is a simple server created using Python's Flask framework.</p>
        <p>It has a few endpoints:</p>
        <ul>
            <li><a href="/HPT/">Home</a></li>
            <li><a href="/HPT/text">Disease Estimates</a></li>
            <li><a href="/HPT/text2">Procedure</a></li>
            <li><a href="/HPT/voice">Voice</a></li>
            <li><a href="/HPT/about">About</a></li>
        </ul>
    </body>
</html>